.main-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 6rem 0 2rem 0;
}

.item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

    .item h1 {
        font-size: 1rem;
        font-weight: bold;
        background: #30A65C;
        padding: .5rem 1rem;
        color: #fff;
      
    }
